@import "tailwindcss";
@plugin "@tailwindcss/forms";

:root {
  --background: #ffffff;
  --foreground: #0E172B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-lexend: var(--font-lexend);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer components {
  .section-title {
      @apply text-[32px] sm:text-[40px]  text-[#0E172B] font-normal font-lexend leading-10 sm:leading-14 tracking-tight
  }

  .section-p {
      @apply text-[18px] text-[#324158] font-normal font-inter leading-8 max-w-[650px] tracking-tight
  }
}
